include ../global/mixins

section.about
  .container
    +title('About us', 'We are added our major Services', true)

    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header Facebook Marketing
        p.about__description.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          labore et dolore magna aliqua.

      li.about__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__description.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          labore et dolore magna aliqua.

      li.about__item
        .icon.icon-message
        h3.about__header Ads management
        p.about__description.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          labore et dolore magna aliqua.